/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 
 */
@import "bootstrap-sprockets";
@import "bootstrap";

table {                      //a voir
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 5%;
}

h1{
   margin-top: 10px;
   margin-bottom: 40px;   //a voir
   margin-left: 10px;
   text-align: left;
 }

 h2{                      //a voir
   margin-top: 60px;      
   margin-left: 15px;
 }

 td, th {                      //a voir
 	padding: 15px;
  margin-left: 35%;
  text-align: center;
  }

  h3{                      //a voir
  button-align: center;
  margin-left: 46%;
  }

  .navbar-inverse .navbar-nav > li > a {                      //a voir
  color: #140;
 }

 .navbar-inverse .navbar-brand {                      //a voir
 	color: #140;
 }

 .navbar-inverse {                      
 	background-color: #FF8C00;//a voir
 	border-color: #FF8C00;//a voir
 }

.btn{
  margin-left: 10px;
}

.field{
  margin-left: 10px;
}

p{
  margin-left: 10px;
}